.overall_container {
    width: 70%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    color: var(--text);
}

.indicators_container {
    display: flex;
    gap: 50px;
    width: 100%;
}

.indicator {
    width: 350px;
    height: 150px;
    background-color: var(--primary);
    border-radius: 10px;
    color: white;
    padding: 20px;
}

.indicator p {
    font-size: 1.125rem;
}

.table_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    height: 70%;
}

.filter_container {
    display: flex;
    align-items: center;
    gap: 12px;
}

.filter_container label {
    font-size: 1.125rem;
    color: var(--text);
}

.filter_container select {
    padding: 10px;
    padding-left: 12px;
    border-radius: 12px;
    font-size: 1.125rem;
}

.table {
    width: 100%;
    max-width: 1000px;
    margin-block: 1rem;
    border-collapse: collapse;
    font-size: 1.125rem;
}

.table tr {
    height: 60px;
    border-bottom: 1px solid var(--text);
    color: var(--text);
}

.table tr:nth-child(even) {
    background-color: var(--secondary);
}

.table td {
    text-align: center;
    color: var(--text);
}

.table th {
    background-color: var(--secondary);
    border-bottom: 1px solid var(--text);
    position: sticky;
    top: 0;
}

.table i {
    cursor: pointer;
    font-size: 1.5rem;
}

.yellow_alert, .red_alert {
    position: relative;
}

.yellow_alert i {
    color: rgb(214, 192, 49);
    position: absolute;
    font-size: 18px;
    right: 25px;
}

.red_alert i {
    color: rgb(255, 35, 35);
    position: absolute;
    font-size: 18px;
    right: 25px;
}

.buttonUpDe{
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.tooltip-box {
  position: absolute;
  top: 120%; left: 50%;
  transform: translateX(-50%) scale(0.9); /* Começa menor */
  background: rgb(51, 51, 51);
  backdrop-filter: blur(4px); /* Efeito vítreo */
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 14px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55); /* Animação "elástica" */
}


.buttonUpDe:hover .tooltip-box{
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
}
/* popup louco */

.modal {
    display: none;
    position: fixed;
    border-radius: 6px;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 25%;
}

.modal-content{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    color: var(--text);
    padding: 20px;
    width: 100%;
    height: 100%;
}

.close {
    top: 5px;
    right: 10px;
    position: absolute;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover {
    color:rgb(0, 0, 0);
    cursor: pointer;
}

.buttons {
    margin-top: 8%;
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.buttons button{
    border-radius: 10%;
    border: none;
    background-color: var(--primary);
    color: white;
    cursor: pointer;
    width: 70px;
    height: 30px;

}

.modal-content input{
    padding: 10px;
    border: 1px solid var(--border-input);
    border-radius: 6px;
    font-size: 14px;
    width: 40%;
    margin-top: 20px;
}
