.register-form {
    width: 30%;
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 60px auto;
    padding: 40px;
    background-color: var(--secondary);
    color: var(--text);
    border-radius: 10px;
    box-shadow: 0 8px 25px var(--text);
}

.register-form h1 {
    margin-bottom: 25px;
    font-size: 28px;
    color: var(--text);
}

.register-form input,
.register-form textarea,
.register-form select {
    padding: 10px;
    border: 1px solid var(--border-input);
    border-radius: 6px;
    font-size: 14px;
    width: 100%;
}

.register-button {
    margin-top: 10px;
    background-color: var(--primary);
    padding: 12px;
    font-size: 15px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    transition: 0.2;
    color: var(--background);
    transition: .5s ease-in-out;
    font-weight: bold;
}

.register-form button:hover{
    background-color: var(--text);
}