* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", Helvetica, Arial, sans-serif;
}

:root {
    --background: #FFFFFF;
    --text: #000000;
    --primary: #B93C3C;
    --secondary: #EEEEEE;
    --border-input: #DDDDDD;
}

.dark {
    --background: #111111;
    --text: #FFFFFF;
    --primary: #B93C3C;
    --secondary: #222222;
    --border-input: #DDDDDD;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

i {
    color: var(--text);
}

body {
    display: flex;
    background-color: var(--background);
    color: var(--text);
}

.sidebar {
    width: 350px;
    height: 100vh;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: flex-start;
    position: relative;
}

#toggle_theme {
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    align-self: center;
}

.logo {
    color: var(--text);
    font-size: 2rem;
    font-weight: bold;
    margin-top: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo img {
    width: 75px;
}

.logo span {
    color: var(--primary);
}

.sidebar nav {
    width: 100%;
}

.links a {
    display: flex;
    align-items: center;
    padding: 15px;
}

.links span {
    color: var(--text);
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
    padding: 10px;
}

.links i {
    font-size: 1.25rem;
}

.focus {
    background-color: var(--primary);
}

.focus span, .focus i {
    color: white;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow-x: hidden;
}

.notification {
    position: absolute;
    width: 350px;
    height: 100px;
    background-color: var(--primary);
    transform: translateX(175%);
    top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--background);
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    padding: 30px;
    animation: notification_push .5s;
}

.notification i {
    color: var(--background);
    font-size: 2rem;
}

.notification p {
    color: var(--background);
}

#remove_notification {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.25rem;
    cursor: pointer;
}

@keyframes notification_push {
    from {
        transform: translateX(500%);
    }

    to {
        transform: translateX(175%);
    }
}

.notification.closing {
    transform: translateX(500%);
    transition: transform 0.3s;
}